<section class="resume-section" id="education">
  <div class="resume-section-content">
      <h2 class="mb-5">Education</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
              <h3 class="mb-0">National Institute of Technology Karnataka Surathkal</h3>
              <div class="subheading mb-3">M. tech in Computer Science & Engineering - Information Security</div>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">October 2020 - Present</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
              <h3 class="mb-0">L.D. College of Engineering</h3>
              <div class="subheading mb-3">Bachelor of engineering in Computer Engineering</div>
              <div>Gujarat Technological University </div>
              <p>CGPA: 8.5</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">August 2015 - June 2019</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-2">
            <h3 class="mb-0">St. Mary's Higher Secondary School</h3>
            <div class="subheading mb-3">Science</div>
            <div>GSHSEB </div>
            <p>Percentage: 83%</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">March 2013 - March 2015</span></div>
    </div>
  </div>
</section>
