<section class="resume-section" id="projects">
  <div class="resume-section-content">
      <h2 class="mb-5">Projects</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">To-do List</h3>
            <div class="subheading mb-3">Personal Project</div>
            <div class="lead">Tools and Technologies: Angular, Firebase,bootstrap</div>
            <div class="lead" style="font-weight: bold;">Summary:</div>
            <p class="lead">
              This project include simple to-do list in which user can add task, update task and delete task
              after completion use check the task on completed task
            </p>
          </div>
        </div>
          <hr>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="resume-content">
                <h3 class="mb-0">Neuron Space</h3>
                <div class="subheading mb-3">Final Year Project</div>
                <div class="lead">Tools and Technologies: python,Apache Spark,Apache hadoop,Solr</div>
                <div class="lead" style="font-weight: bold;">Summary:</div>
                <p class="lead">
                  Goal of this project is to either process or support processed electronic data and give
                  early insights to the data using deep-learning and machine-learning techniques to identify
                  and investigate electronic data
                </p>
              </div>
            </div>
              <hr>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0">Due Date Reminder For Work-flows</h3>
                  <div class="subheading mb-3">Professional Project</div>
                  <div class="lead">Tools and Technologies: Alfresco, Java,JavaScript,JQuery</div>
                  <div class="lead" style="font-weight: bold;">Summary:</div>
                  <p class="lead">
                    It is reusable component.This adds one more tool to the ’Admin Tools’ page.It facilitates the administrators
                    to set the due date reminders for the deployed workflows.It sends reminder notification emails to the users having
                    active tasks and not taking any action on them.Reminder options and features:</p>
                    <ul>
                      <li>Based upon the priority of the workflows</li>
                      <li>For individual workflow</li>
                      <li>Common reminder for all the workflows</li>
                      <li>Option to choose daily or on a specific day before the due date</li>
                      <li>Email template selections</li>
                    </ul>

                </div>
              </div>
                <hr>

  </div>
</section>
