<section class="resume-section" id="experience">
  <div class="resume-section-content">
      <h2 class="mb-5">Experience</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
              <h3 class="mb-0">Junior Java Developer</h3>
              <div class="subheading mb-3">ContCentric IT Services Pvt. Ltd.</div>
              <p>Worked on various Alfresco and ADF projects.</p>
              <p>Proficiency in Object-Oriented Design Development</p>
              <p>Work with a wide set of technologies to best serve the use case</p>
              <p>Work with senior technology solutions team members to assist with the development of a wide variety of software
                solutions.</p>
              <p>Collaborating with other programmers to design well-organized, optimized, and documented source code, enhancing
                applications by identifying opportunities for improvement</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">June 2019 - September 2020</span></div>
      </div>
  </div>
</section>
