<section class="resume-section" id="interest">
  <div class="resume-section-content">
     <h2 class="md-5">Interest</h2>
     <br>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fa fa-book text-success"></i></span>
          Reading Books.
      </li>
      <li>
          <span class="fa-li"><i class="fa fa-music text-warning"></i></span>
         Music
      </li>
      <li>
          <span class="fa-li"><i class="fa  fa-paint-brush"></i></span>
         Art and Craft
      </li>
      <li>
          <span class="fa-li"><i class="fa fa-line-chart text-success"></i></span>
         Stock Marketing
      </li>
      <li>
        <span class="fa-li"><i class="fa fa-user-secret "></i></span>
        CyberSecurity
    </li>
      </ul>
  </div>
</section>
