<section class="resume-section" id="skills">
  <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages & Tools</div>
      <ul class="list-inline dev-icons" style="font-size: large;">
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>Java</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>JavaScript</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>TypeScript</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>HTML+CSS</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>MYSQL</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>C++</li>
          <li class="list-inline-item"><i class="fa fa-check text-success"></i>C</li>
      </ul>

      <div class="subheading mb-3">Tools</div>
      <ul class="list-inline dev-icons" style="font-size: large;">
        <li class="list-inline-item"><i class="fa fa-briefcase text-success"></i> Git</li>
        <li class="list-inline-item"><i class="fa fa-briefcase text-success"></i> Docker</li>
        <li class="list-inline-item"><i class="fa fa-briefcase text-success"></i> Alfresco</li>
    </ul>

    <div class="subheading mb-3">Libraries and Frameworks</div>
    <ul class="list-inline dev-icons" style="font-size: large;">
      <li class="list-inline-item"><i class="fa fa-book text-success"></i> ADF</li>
      <li class="list-inline-item"><i class="fa fa-book text-success"></i> Angular</li>
      <li class="list-inline-item"><i class="fa fa-book text-success"></i> GrapesJs</li>
  </ul>
  <div class="subheading mb-3">IDE</div>
  <ul class="list-inline dev-icons" style="font-size: large;">
    <li class="list-inline-item"><i class="fa fa-circle"></i> Eclipse</li>
    <li class="list-inline-item"><i class="fa fa-circle"></i> Visual Code</li>
</ul>
<hr>
<br>
<div class="subheading mb-3">Soft Skills</div>
<ul class="fa-ul md-0" style="font-size: large;">
 <li><i class="fa-li fa fa-plus-circle text-success" aria-hidden="true"></i> Time Management</li>
 <li><i class="fa-li fa fa-plus-circle text-success" aria-hidden="true"></i> Effective Communication</li>
 <li><i class="fa-li fa fa-plus-circle text-success" aria-hidden="true"></i> Creativity</li>
</ul>
  </div>
</section>
