<section class="resume-section" id="about">
  <div class="resume-section-content">
      <h1 class="mb-0">
          Dhruvi
          <span class="text-primary">Zala</span>
      </h1>
      <div class="subheading mb-5">
        <span>Ahmedabad, Gujarat</span><br>
          <a href="mailto:dhruvizalarajesh@gmail.com">Contact me</a>
      </div>
      <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
          overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
          value proposition.</p>

      <div class="social-icons">
          <a class="social-icon" href="https://www.linkedin.com/in/dhruvi-zala-141946134/"><i
                  class="fa fa-linkedin-square"></i></a>
          <a class="social-icon" href="https://gitlab.com/Drzala3312"><i class="fa fa fa-gitlab" aria-hidden="true"></i></a>
          <a class="social-icon" href="#" (click)="downloadCV()"> <i class="fa fa-download" aria-hidden="true"></i></a>
      </div>
  </div>
</section>
