<section class="resume-section" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Achievements</h2>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
              Participated in Hackathon Gujarat.Created a Job portal for ITI students.
          </li>
          <li>
              <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
              Volunteer in lakshya Tech fest
          </li>
          <li>
              <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
              Completed a field technician-networking and storage courses organized by National skill development and corporation.
          </li>
          <li>
              <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
              I have aided organization to make reusable component for alfresco community
          </li>
      </ul>
  </div>
</section>
